@import "tailwindcss";
.expense-chart-container {
  container-type: inline-size;
}

@container (max-width: 400px) {
  .chart-legend {
    grid-template-columns: 1fr;
  }
  
  .chart-main {
    flex-direction: column;
  }
}

circle {
  transition: all 0.5s ease-out;
}
.animate-in {
      animation: slideIn 0.3s ease-out;
    }
    
    @keyframes slideIn {
      from {
        transform: translateX(100%);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }